In [0]:
from google.colab import drive 
drive.mount('/mntDrive') 
!ls "/mntDrive/My Drive/Colab Notebooks"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /mntDrive
Apriori-Algorithm.ipynb       Introduction-To-Data-PreProcessing.ipynb
Apriori-ARM-Assignment.ipynb  pima1.csv
Cosmetics.xlsx

In [0]:
import pandas as pd

In [0]:
df=pd.read_excel('/mntDrive/My Drive/Colab Notebooks/Cosmetics.xlsx')

In [0]:
df

     Bag Blush Nail Polish Brushes  ... Foundation Lip Gloss Lipstick Eyeliner
0     No   Yes         Yes     Yes  ...         No        No       No      Yes
1     No    No         Yes      No  ...        Yes       Yes       No       No
2     No   Yes          No      No  ...        Yes       Yes      Yes       No
3     No    No         Yes     Yes  ...        Yes        No       No      Yes
4     No   Yes          No      No  ...         No       Yes      Yes       No
..   ...   ...         ...     ...  ...        ...       ...      ...      ...
995   No    No          No      No  ...         No        No       No       No
996   No    No          No      No  ...        Yes       Yes       No       No
997   No   Yes         Yes     Yes  ...        Yes        No      Yes      Yes
998  Yes   Yes          No      No  ...         No        No      Yes      Yes
999   No    No          No      No  ...         No        No       No      Yes

[1000 rows x 14 columns]

In [0]:
for col in df.columns:
    df[col] = df[col].map({'Yes': True, 'No' : False})

In [0]:
df.head()

     Bag  Blush  Nail Polish  ...  Lip Gloss  Lipstick  Eyeliner
0  False   True         True  ...      False     False      True
1  False  False         True  ...       True     False     False
2  False   True        False  ...       True      True     False
3  False  False         True  ...      False     False      True
4  False   True        False  ...       True      True     False

[5 rows x 14 columns]

In [0]:
from mlxtend.frequent_patterns import apriori, association_rules

In [0]:
apriori(df, min_support = 0.3, use_colnames=True)

   support                 itemsets
0    0.363                  (Blush)
1    0.442              (Concealer)
2    0.357                (Mascara)
3    0.381             (Eye shadow)
4    0.536             (Foundation)
5    0.490              (Lip Gloss)
6    0.322               (Lipstick)
7    0.457               (Eyeliner)
8    0.321    (Eye shadow, Mascara)
9    0.356  (Lip Gloss, Foundation)

In [0]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support                 itemsets  length
0    0.363                  (Blush)       1
1    0.442              (Concealer)       1
2    0.357                (Mascara)       1
3    0.381             (Eye shadow)       1
4    0.536             (Foundation)       1
5    0.490              (Lip Gloss)       1
6    0.322               (Lipstick)       1
7    0.457               (Eyeliner)       1
8    0.321    (Eye shadow, Mascara)       2
9    0.356  (Lip Gloss, Foundation)       2

In [0]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.6)
rules = rules.sort_values(['confidence'], ascending = [False]) #Sorting Rules based on confidence
rules

    antecedents   consequents  ...  leverage  conviction
1     (Mascara)  (Eye shadow)  ...  0.184983    6.138417
0  (Eye shadow)     (Mascara)  ...  0.184983    4.083050
2   (Lip Gloss)  (Foundation)  ...  0.093360    1.696716
3  (Foundation)   (Lip Gloss)  ...  0.093360    1.518667

[4 rows x 9 columns]