In [1]:
from google.colab import drive 
drive.mount('/mntDrive') 
!ls "/mntDrive/My Drive/Colab Notebooks"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /mntDrive
 ApacheSpark				    Linear-Regression.ipynb
 Apriori-Algorithm.ipynb		    Mean-Square-Method.ipynb
 Apriori-ARM-Assignment.ipynb		    pima1.csv
'car data.csv'				    Real-Estate-Pricing.ipynb
 Cosmetics.xlsx				    real.xlsx
 Introduction-To-Data-PreProcessing.ipynb   salary_data.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_excel('/mntDrive/My Drive/Colab Notebooks/real.xlsx')

In [4]:
df

                  street             city    zip  ...   price   latitude   longitude
0           3526 HIGH ST       SACRAMENTO  95838  ...   59222  38.631913 -121.434879
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[985 rows x 12 columns]

In [5]:
df.isnull().sum()

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [6]:
df.isna().sum()

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [7]:
df.isnull().values.any()

False

In [8]:
(df['beds'] == 0).sum(), (df['baths'] == 0).sum(), (df['sq__ft'] == 0).sum(), (df['price'] == 0).sum()

(108, 108, 171, 0)

In [9]:
z_field = ['beds', 'baths', 'sq__ft']
df.non_zero = df.copy()
df[z_field] = df[z_field].replace(0, np.nan)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [0]:
df[z_field] = df[z_field].fillna(df.non_zero.mean())

In [11]:
(df['beds'] == 0).sum(), (df['baths'] == 0).sum(), (df['sq__ft'] == 0).sum(), (df['price'] == 0).sum()

(0, 0, 0, 0)

In [12]:
df['street'].nunique()

981

In [13]:
df['city'].nunique()

39

In [19]:
df.groupby("street").apply(lambda df:df.irow(df.price.argmax()))

AttributeError: ignored