In [3]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Introduction-to-Pandas.ipynb',
 'Loading-Data-in-Python.ipynb',
 'supermarkets.json']

In [2]:
import pandas

In [6]:
df1=pandas.read_json("supermarkets.json")
df1.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114